
$shadow: #191919;
$grey: #565656;
$lightgrey: #cccccc;
$lightgrey2: #cccccc;
$light: #ffffff;
$softlight : #f1f1f1;
$medium: #969696;
$orange: #ee7444;
$green: #56baa2;
$red:#f44336;
$deepblue:#34495E;
$deeperblue:#2C3E50;


// DARK THEME
$blue: #199cb6;
$black: #000000;
$darkgrey : #808080;
$border : #424242;
$neutral : #848484;


// LIGHT THEME
$lightgrey: #7f7f7f;
