<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Native Semantic Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../style/popup.css">
  </head>
  <body class="dark_theme">
    <span class="version">v 1.0.2</span>
    <div class="logo_wrapper">
      <img class="adyoulike_logo" src="../images/logo-dark.png">
      <span class="ext_name">semantic AI</span>
    </div>

    <div id="launch-semantic">Launch semantic analysis</div>

    <div class="loader-container">
      <div class="loader-text">Please wait...</div>
      <div class="loader-progress">
        <div class="loader-progress-bar">
          <div class="loader-progress-shadow"></div>
        </div>
      </div>
    </div>

    <div id="result-wrapper">

      <div class="item-wrapper" id="keywords">
        <div class="title_wrapper">keywords</div>
        <div class="result_wrapper">

        </div>
      </div>

      <div class="item-wrapper" id="taxonomy">
        <div class="title_wrapper">IAB Categories</div>
        <div class="result_wrapper">

        </div>
      </div>

      <div class="item-wrapper" id="entities">
        <div class="title_wrapper">Entities</div>
        <div class="result_wrapper">

        </div>
      </div>

      <div class="item-wrapper" id="concepts">
        <div class="title_wrapper">Concepts</div>
        <div class="result_wrapper">

        </div>
      </div>

      <div class="item-wrapper" id="emotions">
        <div class="title_wrapper">Emotions</div>
        <div class="result_wrapper">

        </div>
      </div>


    </div>

    <script src="../scripts/popup.js"></script>

  </body>
</html>
