@import "./parts/loader.scss";
@import "./parts/colors.scss";


body{
  min-height:160px;
  transition-duration: 0.3s;
  padding:0;
  margin:0;
  font-family:"Muli", sans-serif;
  font-weight:lighter;


  &.dark_theme{
    background-color:#000000;
    .title_wrapper{
      color:#ffffff;
    }
    .item_title{
      color:#ffffff;
    }
    &.blue_theme{
      .title_wrapper{
        background-color:$blue;
      }
      .item_result{
        color:$blue;
      }
      #launch-semantic{
        border-color: $blue;
        color: $blue;
        &:hover{
          .pop{
            background-color:$blue;
          }
        }
      }
      [data-smiley='positive'] {
        color:$blue;
        &:before{
          background-color:$blue;
        }
      }
      [data-smiley='neutral'] {
        color:$neutral;
        &:before{
          background-color:$neutral;
        }
      }
      [data-smiley='negative'] {
        color:#ffffff;
        &:before{
          background-color:#ffffff;
        }
      }
      .item_line{
        border-color:$border;
        .item_title{
          color:$blue;
        }
        .percent_line{
          background-color: $blue;
        }
      }
    }
    &.orange_theme{
      .title_wrapper{
        background-color:$orange;
      }
      .item_result{
        color:$orange;
      }
      #launch-semantic{
        border-color: $orange;
        color: $orange;
        &:hover{
          .pop{
            background-color:$orange;
          }
        }
      }
      [data-smiley='positive'] {
        color:$orange;
        &:before{
          background-color:$orange;
        }
      }
      [data-smiley='neutral'] {
        color:$neutral;
        &:before{
          background-color:$neutral;
        }
      }
      [data-smiley='negative'] {
        color:#ffffff;
        &:before{
          background-color:#ffffff;
        }
      }
      .item_line{
        border-color:$border;
        .percent_line{
          background-color: $orange;
        }
      }
    }
    .logo_dark{
      display:block;
      border-color:#ffffff;
    }

    // LOADER
    .loader-text{
      color:#ffffff;
    }
    .loader-progress {
      background-color: #808080;
    }
    .loader-progress-bar {
      background-color:#ffffff;
    }
  }


  &.light_theme{
    background-color:#ffffff;
    .title_wrapper{
      padding:2px 0px 2px 0px;
      font-weight:900;
      background-color: #ffffff;
    }
    &.blue_theme{
      .title_wrapper{
        color:$blue;
      }
      .item_title{
        color:$blue;
      }
      .item_result{
        color:$blue;
      }
      #launch-semantic{
        border-color: $blue;
        color: $blue;
        &:hover{
          .pop{
            background-color:$blue;
          }
        }
      }
      [data-smiley='positive'] {
        color:$blue;
        &:before{
          background-color:$blue;
        }
      }
      [data-smiley='neutral'] {
        color:$neutral;
        &:before{
          background-color:$neutral;
        }
      }
      [data-smiley='negative'] {
        color:#000000;
        &:before{
          background-color:#000000;
        }
      }
      .item_line{
        border-color:#cccccc;
        .percent_line{
          background-color: $blue;
        }
      }
    }
    &.orange_theme{
      .title_wrapper{
        color:$orange;
      }
      .item_title{
        color:$orange;
      }
      .item_result{
        color:$orange;
      }
      #launch-semantic{
        border-color: $orange;
        color: $orange;
        &:hover{
          .pop{
            background-color:$orange;
          }
        }
      }
      [data-smiley='positive'] {
        color:$orange;
        &:before{
          background-color:$orange;
        }
      }
      [data-smiley='neutral'] {
        color:$neutral;
        &:before{
          background-color:$neutral;
        }
      }
      [data-smiley='negative'] {
        color:#000000;
        &:before{
          background-color:#000000;
        }
      }
      .item_line{
        border-color:#cccccc;
        .percent_line{
          background-color: $orange;
        }
      }
    }
    .logo_light{
      display:block;
      border-color:#000000;;
    }

    // LOADER
    .loader-text{
      color:#000000;
    }
    .loader-progress {
      background-color: #cccccc;
    }
    .loader-progress-bar {
      background-color:#000000;
    }
  }


}

html{
  width:285px;
  min-height:200px;
  box-sizing:border-box;
  padding:0 30px;
}
.item-wrapper{
  margin:0 0 50px 0;
}

.adyoulike_logo{
  margin:0;
  display:none;
  width:175px;
  float:left;
  box-sizing:border-box;
  padding: 0 5px 0 0;
}
.watson_logo{
  float:left;
  width:calc(100% - 175px);
  box-sizing:border-box;
  padding: 0 0 0 5px;
  display:none;
  border-style:solid;
  border-width:0px;
  border-left-width:1px;
  border-color:transparent;
}
.logo_wrapper{
  margin:30px 0 0 0;
  padding:0 0 20px 0;
  border-bottom:1px solid $border;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

#result-wrapper{
  display:none;
  padding:0 0 80px 0;
}

#launch-semantic{
  border-style:solid;
  border-width:1px;
  background-color:transparent;
  font-weight:lighter;
  cursor:pointer;
  margin:50px auto 70px auto;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  width: 80%;
  font-weight:900;
  overflow:hidden;
  position:relative;
  transition-duration:0.3s;
  &:hover{
    color:#ffffff!important;
    .pop{
      transform:translateX(-50%) translateY(-50%) scale(500);
    }
  }
  .pop{
    display:block;
    width:1px;
    height:1px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) scale(0);
    transition-duration:0.5s;
    background-color:rgba(255,255,255,0.5);
    border-radius:50%;
    z-index:-1;
  }
}

.title_wrapper{
  font-family:"Muli";
  margin:20px 0 10px 0;
  padding:2px 0 2px 5px;
  font-size:17px;
  text-transform:capitalize;
}
.item{
  margin:0;
}
.item_line{
  color:#ffffff;
  font-size:15px;
  display:flex;
  align-items: center;
  padding:0 0 5px 0;
  border-style:solid;
  border-width: 0px;
  border-bottom-width: 2px;
  position:relative;
  .percent_line{
    display:block;
    height:2px;
    width:0%;
    position:absolute;
    background-color: #ffffff;
    bottom:-2px;
    left:0;
  }
}
.item_title{
  width:70%;
  word-wrap:break-word;
}
.item_result{
  width:30%;
  text-align:right;
}
.sentiment_line{
  margin:0 0 20px 0;
  width:0%;
  overflow:hidden;
  transition-duration:0.3s;
  &.show{
    width:100%;
  }
}
.item_sentiment{
  margin:8px 0 0 0;
  font-size:13px;
  padding:0 0 0 25px;
  position:relative;
  height:18px;
  display:block;
  line-height:18px;
  &:before{
    content:"";
    display:block;
    position:absolute;
    width:18px;
    height:18px;
    left:0;
    top:0;
    background-size: cover;
    background-position: 50% 50%;
  }
  &[data-smiley]{
    &:before{
      display:none;
    }
  }
  &[data-smiley='positive'] {
    &:before{
      display:block;
      -webkit-mask: url(../images/positive.svg);
      -webkit-mask-size: cover;
    }
  }
  &[data-smiley='neutral'] {
    &:before{
      display:block;
      -webkit-mask: url(../images/neutral.svg);
      -webkit-mask-size: cover;
    }
  }
  &[data-smiley='negative'] {
    &:before{
      display:block;
      -webkit-mask: url(../images/negative.svg);
      -webkit-mask-size: cover;
    }
  }
}
#taxonomy, #concepts, #emotions{
  .item_line{
    margin:0 0 30px 0;
  }
}

#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 10px 30px 0 30px;
  transition-duration:0.3s;
}
.icon{
  &.icon_blue{
    width:14px;
    height:14px;
    border-radius:50%;
    background-color: $blue;
    margin:3px 0 0 0;
    & + .color_name{
      color:$blue;
    }
  }
  &.icon_orange{
    width:14px;
    height:14px;
    border-radius:50%;
    background-color: $orange;
    margin:3px 0 0 0;
    & + .color_name{
      color:$orange;
    }
  }
}
.color_switcher_line{
  display:none;
  cursor:pointer;
  .color_name{
    float:left;
    padding:0 0 0 7px;
    font-size:16px;
    line-height:16px;
    transition-duration:0.3s;
  }
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
.dark_theme{
  #footer{
    background-color: #000000;
  }
  .legal{
    color:$darkgrey;
  }
  .sun_line{
    display:inline-block;
    .color_name{
      color:$darkgrey;
    }
    &:hover{
      .color_name{
      color:#ffffff;
      }
      .icon{
        background-color:#ffffff;
      }
    }
  }
}

.loading ~ #footer{
  display:none;
}
.light_theme{
  #footer{
    background-color: #ffff;
  }
  .legal{
    color:$darkgrey;
  }
  .moon_line{
    display:inline-block;
    .color_name{
      color:$darkgrey;
    }
    &:hover{
      .color_name{
      color:#000000;
      }
      .icon{
        background-color:#000000;
      }
    }
  }
}

.blue_theme{
  .color_switcher_line.orange_color{
    display:block;
  }
}
.orange_theme{
  .color_switcher_line.blue_color{
    display:block;
  }
}
.color_switcher_line.blue_color{
  display:none!important;
  float:right;
}
.color_switcher_line.orange_color{
  display:none!important;
  float:right;
}
.moon_line{
  color:$darkgrey;
}
.sun_line{
  color:#ffffff;
}
.legal{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  float:left;
  width:24px;
  height:24px;
  &.icon_moon{
    -webkit-mask: url(../images/moon.svg);
    -webkit-mask-size: cover;
    background-color:$darkgrey;
    transition-duration:0.3s;
  }
  &.icon_sun{
    -webkit-mask: url(../images/sun.svg);
    -webkit-mask-size: cover;
    background-color:$darkgrey;
    transition-duration:0.3s;
  }
}
